<div class="calibri-scrollbar js-dialog"></div>
<div class="calibri-footer">
    <form class="form-group col-md-12 col-xs-12 js-send">
        <!--<textarea class="form-control msg-text js-message" rows="2"></textarea>-->
        <!--<button type="submit" class="btn btn-info send-btn">Send</button>-->
        <div class="input-group">
            <input type="text" class="form-control js-message" placeholder="Type your message">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info">Go!</button>
            </span>
        </div>
    </form>
</div>
