<div class="calibri talk-chat">
    <div class="calibri-header">
        <div class="msg-title">Connects type people</div>
        <button type="button" class="close-talk-chat close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="calibri-scrollbar">
        <div class="row">
            <div class="msg-client col-md-11 col-xs-11">
                <div class="msg-client-text col-md-10 col-xs-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur rem non nesciunt vero debitis praesentium.</div>
                <div class="msg-time-client">10:46</div>
            </div>
        </div>
        <div class="row">
            <div class="msg-admin col-md-11 col-xs-11">
                <div class="msg-time-admin">10:46</div>
                <div class="col-md-2 col-xs-2"></div>
                <div class="msg-admin-text col-md-10 col-xs-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur rem non nesciunt vero debitis praesentium.</div>
            </div>
        </div>
        <div class="row">
            <div class="msg-client col-md-11 col-xs-11">
                <div class="msg-client-text col-md-10 col-xs-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur rem non nesciunt vero debitis praesentium.</div>
                <div class="msg-time-client">10:46</div>
            </div>
        </div>
    </div>
    <div class="calibri-footer">
        <div class="form-group col-md-12 col-xs-12">
            <textarea class="form-control msg-text" rows="2"></textarea>
            <button type="button" class="btn btn-info send-btn">Send</button>
        </div>
    </div>
</div>
